#virtualenv
bin/
etc/
include/
lib/
share/
lib64
pyvenv.cfg
data_crawler.pyc
dump.rdb

#config
config.ini
supervisord.conf
chromedriver

#jupyter
.ipynb_checkpoints/

#ide
.vscode/

#etc
sample.py
__pycache__
.idea/
.Python
