[API]
LAB_CLIENT_ID = ...
LAB_CLIENT_SECRET = ...
LAB_URL = ...
AD_CUSTOMER_ID = ...
AD_ACCESS_LICENSE = ...
AD_SECRET_KEY = ...
AD_URL = ...
AD_URI = ...
TELEGRAM_API = ...
TELEGRAM_CHAT_ID = ...

[LOCAL]
DB_HOST = ...
DB_PORT = ...
DB_DB = ...
DB_USER = ...
DB_PW = ...
DB_KEYWORD_SET_TABLE = ...
DB_TREND_TABLE = ...

[SERVER]
DB_HOST = ...
DB_PORT = ...
DB_DB = ...
DB_USER = ...
DB_PW = ...
DB_KEYWORD_SET_TABLE = ...
DB_TREND_TABLE = ...